html, body{
    height: 100%;
}

.container{
    width: 960px;
    margin: 0 auto;
    height: 100%;
    background-color: #888888;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 15px;
}

.container div{
    padding: 30px;
    border:1px solid black;
}
.first{
    background-color: brown;
}
.second{
    background-color: chartreuse;
}
.third{
    background-color: cyan;
}

nav ul{
    display: flex;
}