body{
    font-family: Arial, Helvetica, sans-serif;
}
.sendwich{
    display: none;
    width: 45px;
    height: 40px;
    border-radius: 5px;
    border:1px solid gray;
    background: none;
    align-items: center;
    justify-content: center;
    gap: 6px;
    flex-direction: column;
    cursor: pointer;
}

.sendwich span{
    background-color: gray;
    height: 2px;
    width: 25px;
    display: block;
}

header{
    background-color: black;
    display: flex;
    align-items: center;
    padding:9px 15px;
}

header .logo{
    color: white;
    font-size: 24px;
}

header nav a{
    color: rgb(151, 151, 151);
}

header nav a:hover{
    color:rgb(183, 183, 183);
}
header input{
    height: 40px;
    border-radius: 7px;
    border: none;
    margin-left: auto;
}

header nav li ul{
    opacity: 0;
    background-color: white;
    border: 1px solid gray;
    border-radius: 7px;
    width: 190px;
    transition: all 0.3s ease-out;
}

header nav > ul{
    display: flex;
    gap:15px;
    margin-left: 25px;
}

.dropdown {
    position: relative;
}

.dropdown ul{
    position: absolute;
    left: 0;
    top: 150%;
    overflow: hidden;
    transform: translateY(-30px);
}

.dropdown ul li a{
    display: block;
    padding: 5px 15px;
    transition: all 0.2s linear;
}

.dropdown ul li a:hover{
    background-color: #f5f5f5;
}

.dropdown:hover ul {
    opacity: 1;
    transform: translateY(0);
}

.dropdown:hover > a:after {
    transform: rotate(180deg);
}

.dropdown > a{
    display: flex;
    align-items: center;
    gap: 5px;
}

.dropdown > a:after{
    display: block;
    width: 0px;
    content: " ";
    border-top: 4px solid gray;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transition: all 0.3s linear;
}

@media(max-width: 992px) {
    header nav{
        display: none;
    }
    header input{
        display: none;
    }
    .sendwich{
        display: flex;
        margin-left: auto;
    }
}