*{
    box-sizing: border-box;
}

$color-black: #212529;

html,
body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

.catalog{
    width: 100%;
    height: 100vh;
    display: flex;

    &-form{
        width: 30%;
        flex-shrink: 0;
        border-right: 1px solid $color-black;
        padding: 15px;
        display: flex;
        flex-direction: column;
    
        & label{
            font-weight: 700;
        }
    
        & button{
            margin-top: auto;
        }
    }

    &-inner{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    
    &-header{
        padding: 15px;
        border-bottom: 1px solid $color-black;
    }
    
    &-list{
        flex-grow: 1;
        overflow-y: scroll;
        padding:10px;
    }
}

.product {
    &-card{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border:1px solid $color-black;
    }

    &-image{
        max-width: 30%;

        & img{
            width: 100%;
            aspect-ratio: 3/2;
        }
    }

    &-description{
        flex-grow: 1;
    }

    &-prices{
        width: 150px;
        margin-left: 30px;
        font-size: 24px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-shrink: 0;

        &.prices-sale{
            & span:first-child{
                color: #198754;
            }

            & span:last-child{
                font-size: 16px;
                text-decoration: line-through;
            }
        }
    }
}