@import "./normalize.scss";

*{
    font-family: "Caveat", cursive;
}

html, body{
    height: 100%;
    display: flex;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}
.game{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 25px;
}

.letters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:5px;
}

.letter{
    text-transform: uppercase;
}

.word{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.word-letter{
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 30px;
    height: 25px;
    font-size: 40px;
    line-height: 30px;
}

.gallows{
    border: 1px solid black;
    height: 400px;
    flex-shrink: 0;
    padding: 30px;
    position: relative;
}

.gallows div{
    display: none;
}

#kran{
    border-left: 2px solid black;
    border-top: 2px solid black;
    width: 250px;
    height: 100%;
    position: relative;
}

#kran::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    border-left:2px solid black;
}

#head{
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    right: 190px;
}

#body{
    width: 60px;
    height: 120px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 140px;
    right: 190px;
}

#left-leg{
    height: 80px;
    border-left:2px solid black;
    position: absolute;
    top: 255px;
    left: 260px;
    transform: rotate(10deg);
}
#left-hand{
    height: 80px;
    border-left:2px solid black;
    position: absolute;
    top: 170px;
    left: 244px;
    transform: rotate(10deg);
}

#right-leg{
    height: 80px;
    border-left:2px solid black;
    position: absolute;
    top: 255px;
    right: 202px;
    transform: rotate(-10deg);
}

#right-hand{
    height: 80px;
    border-left:2px solid black;
    position: absolute;
    top: 170px;
    right: 186px;
    transform: rotate(-10deg);
}

.game-over{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(255, 99, 71, 0.7);
    z-index:9;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 65px;
    text-transform: uppercase;
}

.game-over.active{
    display: flex;
}