@import './mixins.scss';

*{
    box-sizing: border-box;
}

$bodyColor: #070830; 
$todoBgColor: #1a1a22;
$bigBorderRadius: 10px;
$smallBorederRadius: 5px;

body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: $bodyColor;
    display: flex;
    align-items: center;
    justify-content: center;
    @include flex-center;
}

.todo{
    background-color: $todoBgColor;
    padding: 15px;
    border-radius: $bigBorderRadius;
    width: 100%;
    max-width: 600px;
    border:1px solid gray;
    color: rgb(232, 238, 252);

    & h1{
        margin: 0;
        padding: 0;
        margin: 0px 0px 12px; 
        font-size: 28px;
    }

    & form{
        display: flex;
        margin-bottom: 10px;
        gap:7px;

        & input{
            border-radius: $smallBorederRadius;
            border: 1px solid gray;
            flex-shrink: 0;
            flex-grow: 1;
            background: rgba(0, 0, 0, 0.25);
            color: white;
            padding: 0 10px;
            &:focus{
                outline: none;
            }
        }

        & button{
            padding: 10px 14px; 
            border-radius: $smallBorederRadius; 
            border: 1px solid rgba(255, 255, 255, 0.18); 
            background: rgba(92, 140, 255, 0.35); 
            color: rgb(232, 238, 252); 
            cursor: pointer; 
            font-weight: 600;
        }
    }

    & .list{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap:5px;

        & .item{
            width: 100%;
            border-radius: $smallBorederRadius;
            border: 1px solid gray;
            display: flex;
            padding: 10px;
            align-items: center;
            gap:10px;
            background: rgba(0, 0, 0, 0.18);

            & span{
                &.done{
                    text-decoration: line-through;
                }
            }
            
            & button{
                margin-left: auto;
                border-radius: $smallBorederRadius;
                border: 1px solid gray;
                width: 32px;
                height: 32px;
                @include flex-center;
                cursor: pointer;
                background-color: $todoBgColor;
            }
        }
    }
}

