html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0;
    padding: 0;
}

.btn{
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-danger{
    background-color: red;
}

#app div{
    display: flex;
    flex-direction: column;
    align-items: center;
}