#gallery{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap:5px;
    justify-content: center;
}

#gallery .header{
    grid-area: 1/1/2/4;
    color: white;
    background-color: green;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

#gallery a{
    position: relative;
}

#gallery a:after{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.2s ease-out;
}

#gallery a:hover:after{
    opacity: 0.7;
}

#gallery img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}