@import './mixins.scss';

*{
    box-sizing: border-box;
}

$bodyColor: #070830; 
$todoBgColor: #1a1a22;
$bigBorderRadius: 10px;
$smallBorederRadius: 5px;

body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: $bodyColor;
    display: flex;
    align-items: center;
}

.todo{
    background-color: $todoBgColor;
    padding: 15px;
    border-radius: $bigBorderRadius;
    width: 100%;
    max-width: 600px;
    border:1px solid gray;
    color: rgb(232, 238, 252);
    margin-left: 30px;

    & h1{
        margin: 0;
        padding: 0;
        margin: 0px 0px 12px; 
        font-size: 28px;
    }

    & form{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        gap:7px;

        & div{
            display: flex;
            flex-direction: column;
            gap:5px;
        }

        & input{
            border-radius: $smallBorederRadius;
            border: 1px solid gray;
            flex-shrink: 0;
            flex-grow: 1;
            background: rgba(0, 0, 0, 0.25);
            color: white;
            padding: 0 10px;
            &:focus{
                outline: none;
            }
            height: 40px;
        }

        & button{
            padding: 10px 14px; 
            border-radius: $smallBorederRadius; 
            border: 1px solid rgba(255, 255, 255, 0.18); 
            background: rgba(92, 140, 255, 0.35); 
            color: rgb(232, 238, 252); 
            cursor: pointer; 
            font-weight: 600;
        }
    }

    & .list{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        width: 600px;
        height: 100vh;
        overflow-y: scroll;
        background-color: rgb(41, 36, 36);
        border-left: 1px solid white;

        & .item{
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap:25px;
            padding: 10px;
            align-items: center;
            gap:10px;

            &.positive{
                background-color: rgb(5, 88, 5);
            }

            &.negative{
                background-color: rgb(204, 52, 52);
            }
            
            & button{
                margin-left: auto;
                border-radius: $smallBorederRadius;
                border: 1px solid gray;
                width: 32px;
                height: 32px;
                @include flex-center;
                cursor: pointer;
                background-color: $todoBgColor;
            }
        }
    }
}

.empty{
    position: fixed;
    right: 0;
    top: 0;
    width: 600px;
    height: 100vh;
    overflow-y: scroll;
    padding: 15px;
    background-color: rgb(41, 36, 36);
    border-left: 1px solid white;
}

.total{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 15px;

    & span{
        font-weight: bold;
        font-size: 18px;
        display: block;
        margin: 0 5px;
    }
}
