*{
    font-family: "Roboto", sans-serif;
}

html, body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.currency-form{
    background:url('https://avatars.mds.yandex.net/get-adfox-content/2765366/251111_adfox_1728485_15474311.b35e088cab0c00ecce6043766f71844c.png/optimize.webp') 0 0 no-repeat;
    background-size: cover;
    width: 410px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 15px;
    position: relative;
    box-shadow: 0px 0px 4px 1px #000000;
}

.currency-form::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(80, 46, 46, 0.7);
    content:"";
}
.currency-form h2{
    position: relative;
    z-index: 2;
    margin-bottom: 10px;
}
.currency{
    display: flex;
    gap:15px;
    position: relative;
    z-index: 2;
}
.currency label{
    display: block;
    padding-top: 6px;
    font-weight: 700;
}
.currency .currency-value{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.currency .currency-value input{
    height:30px;
}

.currency .currency-value input:focus{
    outline: none;
}

.currency .currency-value small{
    align-self: flex-end;
    color: #d6bebe;
    font-weight: 700;
}