*{
    box-sizing: border-box;
}
section{
    margin-bottom: 30px;
}
/*Task 1 styles*/
.frame-border{
    border: 5px solid white;
}
.outer-frame{
    border-color: orange;
    border-left:none;
    border-top: none;
}
.main-frame{
    border-color: yellow;
}
.inner-frame{
    border-color: orange;
    border-bottom: none;
    border-right: none;
    padding:10px 15px;
}

/*Task2 styles*/
.bg-dark{
    background-color: rgb(5, 5, 5);
    padding: 10px 15px;
}
.color-white{
    color: white;
}
.color-red{
    color: red;
}
.color-green{
    color: green;
}
.color-yellow {
    color: yellow;
}
/*Task2 styles end*/

/*Task3 styles*/
#task3 .container{
    width: 400px;
}
#task3 .header{
    color: white;
    background-color: rgb(9, 180, 9);
    padding: 10px 15px;
    font-size: 20px;
}
#task3 .text{
    background-color: rgb(175, 175, 175);
    margin-left:30px;
    padding: 15px;
    margin-top:-7px;
}
/*Task3 styles end*/

/*Task4 styles*/
.sqare{
    width: 100px;
    height: 100px;
    border:2px solid gray;
    background-color: white;
}
.sqare-padding{
    padding:2px;
}
.sqare div{
    background-color: black;
    height: 100%;
}
.sqare-margin{
    margin-top: -50px;
    margin-left: 50px;
}
/*Task4 styles end*/

/*Task5 styles*/
#task5::after{
    content: " ";
    display: block;
    clear: both;
}
#task5 img{
    width: 200px;
    border: 1px solid black;
    /*float: left;
    margin-right: 15px;
    margin-bottom: 15px;*/
}

#task5 div{
    width: 50px;
    height: 50px;
    background-color: black;
    margin:10px;
    float: left;
    /*display: inline-block;*/
}
#task5 div.bg-blue{
    background-color: rgb(3, 68, 247);
}
/*Task5 styles end*/

/*Task6 styles*/
#task6{
    padding-top: 150px;
    padding-bottom: 150px;
    background: url('./bg.webp') center center no-repeat;
    background-size: cover;
}
.register-form{
    background: #fff;
    padding: 15px;
    width: 320px;
    margin: 0 auto;
}

.register-form input{
    border: 1px solid #ccc;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
}
.register-form button{
    color: #fff;
    width: 100%;
    background-color: #1cbc11;
    border:none;
    padding: 5px;
    cursor: pointer;
}
/*Task6 styles end*/

/*Task7 styles*/
.pages{
    margin: 0;
    padding: 0;
    list-style: none;
}

.pages li{
    display: inline-block;
}
.pages li a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #ddd;
    color: #333;
    text-decoration: none;
    padding: 11px;
    padding-left: 16px;
    font-weight: bold;
}
.pages li a.active{
    background-color: #d10953;
    color: #fff;
}
/*Task7 styles end*/