html, body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.frame{
    width: 400px;
    aspect-ratio: 3/2;
    border:1px solid black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
}
.loader img{
    width: 50px;
    animation: round 1s ease-in-out infinite both;
}

@keyframes round {
    100%{
        transform: rotate(360deg);
    }
}