.container{
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    border:1px solid black;
    position: relative;
    z-index: 88;
}
.container p{
    border:2px solid blue;
    background-color: yellow;
    padding: 5px;
    margin-top: 0;
    position: relative;
    z-index:10;
}
.container p.bg_red{
    background-color: red;
    width:50%;
}

.positioned{
    position: absolute !important;
    left: 65%;
    top: 50%;
    margin-left: -250px;
    margin-top: -37.5px !important;
    z-index: 99;
}
.fixed{
    background-color: violet !important;
    position: fixed !important;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
    z-index:8 !important;
}