*{
    box-sizing: border-box;
}
html, body{
    padding: 0;
    margin: 0;
}

#block{
    height: 100vh;

    /*background-image: url('./bg.webp');
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: coral;*/

    background: url('./bg.webp') center center no-repeat;
    background-size: cover;
}

#block2{
    width: 50%;
    background-color: pink;
    background-color: #fff;
    background-color: rgb(47, 146, 52);
    background-color: rgba(47, 146, 52, 0);
}

#block3{
    width: 10rem;
}

.bordered{
    border: 1px solid black;
    margin-bottom: 15px;
    height: 50px;
}
.container{
    margin: 0 auto;
    width: 1320px;
    border: 1px solid black;
    padding: 15px;
}

.container::after {
    content: " ";
    display: block;
    clear: both;
}

.column{
    width: 33.3333%;
    border: 1px solid red;
    padding: 15px;
    /*display: inline-block;*/
    float: left;
}
.column nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.column a{
    text-decoration: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d2cece;
    font-size: 1em;
}